// colors: 
@import "partials/_colors.scss";
// Fonts: 
@import "partials/fonts";

// DOM Classes 

.hide {
    display: none;
}

.block {
    display: block;
}

.flex {
    display: flex;
}

// General Styles

html {
    body {
        font-size: 62.5%;
    }
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    background: $primary-violet;
    font-family: $defaultFont;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    cursor: pointer;
    border: none;
}

// Start app

#start-menu {
    height: 23rem;
    width: 16rem;
    border-radius: 10px;
    border: 2px solid $primary-gray;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}


#start-menu-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}

h1 {
    font-family: $titleFont;
    color: $primary-gray;
    font-size: 3rem;
    line-height: 3rem;
}

#start-button {
    width: 5rem;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: $primary-gray;
    font-size: 1rem;
    font-weight: bolder;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    transition: all .5s;
}


#start-button:hover {
    transform: scale(1.2);
}

// Main-menu General Settings

#main-menu {
    height: 100%;
    width: 100%;
    position: relative;
    border: 5px solid $primary-gray;
    transition: all 1s;
}

// main menu header

#main-menu-header {
    height: 2rem;
    width: 100%;
    background: $primary-gray;
    padding: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#online-status-icon {
    height: 1rem;
    width: 1rem;
    background: $default-green;
    border-radius: 100%;
    animation: shinny 1s;
}

h2 {
    font-family: $titleFont;
    color: $primary-black;
    font-size: 2rem;
}

#close-main-menu {
    color: $primary-red;
    font-size: 1.2rem;
}

// main menu navbar (tool-bar) settings

#main-menu-tool-bar {
    height: 2.3rem;
    width: 100%;
    background: $primary-gray;
    padding: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

#main-menu-tool-bar {
    button {
        color: $primary-violet;
    }
}

#main-menu-tool-bar {
    button {
        i{
            font-size: 1.5rem;
        }
    }
}

#main-menu-tool-bar{
    button{
        i:hover {
            color: $dark-violet
        }
    }
}

// Tools

#notepad {
    height: 20rem;
    width: 25rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $secondary-gray;

    flex-direction: column;
}

#notepad-header {
    display: flex;
    justify-content: flex-end;
}

#notepad-header {
    button {
        background: none;
        margin-right: 1.2rem;
    }
}

#notepad-header {
    button {
        i {
            color: $primary-black;
        }
    }
}

#notepad {
    textarea {
        height: 80%;
        width: 90%;
        margin: 0.5rem auto;
        resize: none;
    }
}

#notepad-buttons {
    width: inherit;

    display: flex;
    justify-content: center;
    gap: 2rem;
}

#notepad-buttons {
    button {
        color: $primary-gray;
        background: $primary-violet;
        border: none;
        border-radius: 2rem;
        padding: 0.5rem;
        width: 10rem;
    }
}
    
    

// Main content (app selection) 
main {
    height: 93%;
    width: 100%;
    background: $primary-violet;
}







// Effects 
// fade-in 
.fade-in-fwd {
	-webkit-animation: fade-in-fwd 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-fwd 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in-fwd {
    0% {
      -webkit-transform: translateZ(-80px);
              transform: translateZ(-80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-fwd {
    0% {
      -webkit-transform: translateZ(-80px);
              transform: translateZ(-80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }

// Shinny

@keyframes shinny {
    0% {
      opacity: 0%;
    }

    50% {
        opacity: 50%;
    }

    100% {

      opacity: 100%;
    }
  }







