// Color Pallet

$primary-violet: #A78BFA;
$dark-violet: #6D28D9;

$primary-gray: #F3F4F6;
$secondary-gray: #FAFAFA;

$primary-black: #000000;

$light-green: #9ddab4;
$default-green:#49a16b;
$dark-green: #1d6137;

$primary-red: #DC2626;